<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<!-- <link rel="stylesheet" href="C:\dev\projeto\projeto2\src\main\resources\templates\style.css"> -->
	<link rel="stylesheet" href=".\src\main\resources\templates\style.css">
	<title>Seu Título</title>
</head>

<body>
	<div id="content">
		<h3 id="title" class="titulo1"> FORMULÁRIO DE SOLICITAÇÃO DE REGISTRO DE PROGRAMA DE COMPUTADOR </h3>
		<h3 id="title"> ANEXO I - INFORMAÇÕES TÉCNICAS </h3>

		<div class="stage1">
			<div class="table2">
				<div th:each="programa: ${programas}">
					<div id="autor">
						<b>Título do Programa:</b> <span th:text="${programa.nomePrograma}"></span>
					</div>
					<div id="nome">
						<b>Data de Criação ou Publicação:</b> <span th:text="${programa.dataPrograma}"></span>
					</div>
					<div id="nome">
						<b>Linguagens Utilizadas:</b> <span th:text="${programa.langList(programa)}"></span>
					</div>
					<div id="nome">
						<b>Campo de Aplicação:</b> <span th:text="${programa.CampoAplicacao}"></span>
					</div>
					<div id="nome">
						<b>Tipo de Programa:</b> <span th:text="${programa.tipoPrograma}"></span>
					</div>
					<div id="nome" style="height: 100px;">
						<b>Algoritmo ou Função HASH utilizado para criptografia:</b> <span
							th:text="${programa.criptografia}"></span>
					</div>
					<div id="nome">
						<b>Este programa é derivação de outra obra protegida:</b>
					</div>
					<div id="nome">
						<b><span th:text="${programa.verificaDerivadoNao(programa.derivaDeObraProtegida)}"></span></b>
					</div>
					<div id="nome">
						<b><span th:text="${programa.verificaDerivadoSim(programa.derivaDeObraProtegida)}"></span>:</b>
						<span th:text="${programa.tituloProgramaOriginal}"></span>
					</div>
					<div id="nome">
						<b>Percentual de contribuição dos autores para o desenvolvimento do programa:</b>
					</div>
					<table id="table2">
						<thead>
							<tr>
								<th>Nome do Autor</th>
								<th id="border">%*</th>
								<th id="border">Instituição</th>
								<th id="border">Assinatura</th>
							</tr>
						</thead>
						<tbody>
							<tr class="table-row" th:each="autor: ${programa.autores}">
								<td id="dado" class="cell table-cell" th:text="${autor.nome}"></td>
								<td id="dado" class="cell table-cell border" th:text="${autor.porcentagem}"></td>
								<td id="dado" class="cell table-cell border" th:text="${autor.instituicao}"></td>
								<td id="dado" class="cell table-cell border"> </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="local">
				<span>____________________, <span th:text="${dataAtual}"></span>.</span>
				<br>
				<span id="aviso">Local</span>
			</div>

			<div class="assinatura">
				<span>__________________________________________</span>
				<br>
				<span id="aviso">Assinatura do solicitante e CPF</span>
			</div>

			<div class="observacoes">
				<i>
					<p> <u> Observações </u></p>
					<p> O solicitante deverá encaminhar anexos os seguintes documentos: </p>
					<ul>
						<li> Encaminhar o código-fonte em pasta compactada no e-mail <a
								src="nit@ifms.edu.br"><u>nit@ifms.edu.br</u></a>. </li>
						<li> A veracidade das informações inseridas é de responsabilidade do Autor principal
							(solicitante) responsável
							pelo contato com o Núcleo de Inovação Tecnológica – NIT/IFMS. </li>
					</ul>
				</i>
			</div>
		</div>

		<p class="quebra-pagina"></p>

		<div class="stage2">
			<h3 id="title" class="titulo1"> FORMULÁRIO DE SOLICITAÇÃO DE REGISTRO DE PROGRAMA DE COMPUTADOR </h3>
			<h3 id="title"> ANEXO II - DADOS DOS AUTORES </h3>

			<p><i><b>Observação importante:</b><br> Autores são aquelas pessoas físicas que contribuíram
					<u><b>efetivamente</b></u> para a criação/desenvolvimento do programa de computador </i>
			</p>

			<div class="table2">
				<div th:each="programa: ${programas}">
					<div id="autor">
						<b>Número de Autores: </b><span th:text="${programa.numeroAutores(programa)}"></span>
					</div>
					<div id="nome">
						<b>Título do Programa: </b><span th:text="${programa.nomePrograma}"></span>
					</div>
					<div id="nome" style="text-align: center;">
						<b>Autor Principal - NIT: </b><span th:text="${programa.autores[0].nit}"></span>
					</div>
					<div id="nome" style="border-bottom: 0;">
						<b>Nome*:</b> <span th:text="${programa.autores[0].nome}"></span>
					</div>

					<table id="table2">
						<tbody>
							<tr class="table-row">
								<td id="dado" class="cell table-cell">
									<div><b>CPF:</b><span th:text="${programa.autores[0].cpf}"></span></div>
								</td>
								<td id="info" class="cell table-cell">
									<div><b>Data de Nascimento:</b><span
											th:text="${programa.autores[0].dataNasc}"></span>
									</div>
								</td>
							</tr>
							<tr class="table-row">
								<td id="dado" class="cell table-cell">
									<div><b>Endereço:</b><span th:text="${programa.autores[0].logradouro}"></span>
									</div>
								</td>
								<td id="info" class="cell table-cell">
									<div><b>n°:</b><span th:text="${programa.autores[0].numero}"></span> </div>
								</td>
							</tr>
							<tr class="table-row">
								<td id="dado" class="cell table-cell">
									<div><b>Bairro:</b><span th:text="${programa.autores[0].bairro}"></span> </div>
								</td>
								<td id="info" class="cell table-cell">
									<div><b>CEP:</b><span th:text="${programa.autores[0].cep}"></span> </div>
								</td>
							</tr>
							<tr class="table-row">
								<td id="dado" class="cell table-cell">
									<div><b>Cidade:</b><span th:text="${programa.autores[0].cidade}"></span> </div>
								</td>
								<td id="info" class="cell table-cell">
									<div><b>UF:</b><span th:text="${programa.autores[0].uf}"></span> </div>
								</td>
							</tr>
							<tr class="table-row">
								<td id="dado" class="cell table-cell">
									<div><b>Telefone fixo:</b><span th:text="${programa.autores[0].telefone}"></span>
									</div>
								</td>
								<td id="info" class="cell table-cell">
									<div><b>Celular:</b><span th:text="${programa.autores[0].celular}"></span></div>
								</td>
							</tr>
						</tbody>
					</table>

					<div id="nome">
						<b>Email:</b> <span th:text="${programa.autores[0].email}"></span>
					</div>
					<div id="nome" style="border-bottom: 0;">
						<b>Vínculo com o IFMS:</b> <span
							th:text="${programa.formatVinculo(programa.autores[0].vinculo)}"></span>
					</div>
				</div>
			</div>

			<div th:each="programa: ${programas}" th:if="${programa.autores.size() > 1}">
				<div th:each="autor, autorIndex: ${programa.autores}" th:if="${autorIndex.index >= 1}"
					style="margin-top: 20px;">
					<div class="table2">
						<div>
							<div id="nome" style="text-align: center;">
								<b>Autor </b><span th:text="${autorIndex.index+1}"></span>
							</div>

							<div id="nome" style="border-bottom: 0;">
								<b>Nome*:</b> <span th:text="${autor.nome}"></span>
							</div>

							<table id="table2">
								<tbody>
									<tr class="table-row">
										<td id="dado" class="cell table-cell">
											<div><b>CPF:</b><span th:text="${autor.cpf}"></span></div>
										</td>
										<td id="info" class="cell table-cell">
											<div><b>Data de Nascimento:</b><span th:text="${autor.dataNasc}"></span>
											</div>
										</td>
									</tr>
									<tr class="table-row">
										<td id="dado" class="cell table-cell">
											<div><b>Endereço:</b><span th:text="${autor.logradouro}"></span>
											</div>
										</td>
										<td id="info" class="cell table-cell">
											<div><b>n°:</b><span th:text="${autor.numero}"></span> </div>
										</td>
									</tr>
									<tr class="table-row">
										<td id="dado" class="cell table-cell">
											<div><b>Bairro:</b><span th:text="${autor.bairro}"></span> </div>
										</td>
										<td id="info" class="cell table-cell">
											<div><b>CEP:</b><span th:text="${autor.cep}"></span> </div>
										</td>
									</tr>
									<tr class="table-row">
										<td id="dado" class="cell table-cell">
											<div><b>Cidade:</b><span th:text="${autor.cidade}"></span> </div>
										</td>
										<td id="info" class="cell table-cell">
											<div><b>UF:</b><span th:text="${autor.uf}"></span> </div>
										</td>
									</tr>
									<tr class="table-row">
										<td id="dado" class="cell table-cell">
											<div><b>Telefone fixo:</b><span th:text="${autor.telefone}"></span>
											</div>
										</td>
										<td id="info" class="cell table-cell">
											<div><b>Celular:</b><span th:text="${autor.celular}"></span></div>
										</td>
									</tr>
								</tbody>
							</table>

							<div id="nome">
								<b>Email:</b> <span th:text="${autor.email}"></span>
							</div>
							<div id="nome" style="border-bottom: 0;">
								<b>Vínculo com o IFMS:</b> <span
									th:text="${programa.formatVinculo(autor.vinculo)}"></span>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="stage2-final">
				<div class="local">
					<p id="aviso"
						style="text-align: justify; margin-left: -23rem; margin-top: -0.5rem; font-size: 13px;"><b> *O
							solicitante deve encaminhar as cópias de RG e CPF de todos os autores </b></p>
				</div>
				<div id="aviso2" style="margin-top: 2rem; margin-left: 0.1rem;" th:each="programa: ${programas}">
					<span>
						<b>Houve participação de outra instituição no desenvolvimento?</b> <span
							th:text="${programa.verificaParticipacao(programa.instituicao[0].teveParticipacao)}"></span>
						<br>
						<b>Nome:</b> <span th:text="${programa.instituicao[0].nomeInstituicao}"></span> <br>
						<b>CNPJ:</b> <span th:text="${programa.instituicao[0].cnpjInstituicao}"></span> <br>
						<b>Telefone do NIT ou outro contato:</b> <span
							th:text="${programa.instituicao[0].nitInstituicao}"></span> <br>
					</span>
				</div>
			</div>
		</div>

		<p class="quebra-pagina"></p>

		<div class="stage3">
			<h3 id="title" class="titulo1"> FORMULÁRIO DE SOLICITAÇÃO DE REGISTRO DE PROGRAMA DE COMPUTADOR </h3>
			<h3 id="title"> ANEXO III - DECLARAÇÃO DE VERACIDADE DO AUTOR </h3>

			<div class="table2">
				<div th:each="programa: ${programas}">
					<div id="nome" style="border-bottom: 0;">
						<b>Título do Programa de Computador: </b><span th:text="${programa.nomePrograma}"></span>
					</div>
				</div>
			</div>

			<p th:each="programa: ${programas}" style="	line-height: 1.5;">
				Em atendimento à Instrução Normativa em vigor eu, <span th:text="${programa.autores[0].nome}"></span>,
				CPF: <span th:text="${programa.autores[0].cpf}"></span> declaro, para fins de direito, sob
				as penas da Lei e em atendimento ao art. 2º do Decreto nº
				2.556*, de 20 de abril de 1998, que as informações feitas no formulário eletrônico de programa
				de computador – e-RPC, são verdadeiras e autênticas.

				<br>
				<br>
				Fico ciente através desse documento que a falsidade dessa declaração configura crime previsto
				no Código Penal Brasileiro e passível de apuração na forma da Lei.

				<br>
				<br>
				Ciente das responsabilidades pela declaração apresentada, firmo a presente.
			</p>

			<div class="local">
				<span>____________________, <span th:text="${dataAtual}"></span>.</span>
				<br>
				<span id="aviso">Local</span>
			</div>

			<div class="assinatura">
				<span>__________________________________________</span>
				<br>
				<span id="aviso">Assinatura do solicitante e CPF</span>
			</div>

			<div>
				<p id="stage3-aviso">
					*Decreto nº 2.556, de 20 de abril de 1998 – Art. 1º Os programas de computador poderão, a critério
					do titular dos
					respectivos direitos, ser registrados no Instituto Nacional da Propriedade Industrial – INPI.
					Art. 2º A veracidade das informações de que trata o artigo anterior são de inteira responsabilidade
					do requerente,
					não prejudicando eventuais direitos de terceiros nem acarretando qualquer responsabilidade do
					Governo.
				</p>
			</div>
		</div>

		<p class="quebra-pagina"></p>

		<div class="stage4">
			<h3 id="title"> ANEXO IV – TERMO DE CESSÃO DE DIREITOS </h3>

			<div>
				<p>CEDENTE(S):</p>

				<div th:each="programa: ${programas}">
					<p th:each="autor: ${programa.autores}">
						<b><span th:text="${programa.formatNomeAutor(autor.nome)}"></span></b>, CPF nº <span
							th:text="${autor.cpf}"></span>,
						<span th:text="${autor.nacionalidade}"></span>(a), <span
							th:text="${autor.estadoCivil}"></span>(a), <span
							th:text="${programa.formatVinculoTermo(autor.vinculo)}"></span>,
						residente na <span th:text="${autor.logradouro}"></span>, nº <span
							th:text="${autor.numero}"></span>, <span th:text="${autor.cidade}"></span>,
						<span th:text="${autor.uf}"></span> - <span th:text="${autor.cep}"></span>
					</p>
				</div>
			</div>

			<p>
				CESSIONÁRIO: <b>Instituto Federal de Educação, Ciência e Tecnologia – IFMS</b>, autarquia federal
				vinculada à Secretaria de Educação Profissional e Tecnológica do Ministério da Educação, criado
				pela Lei 11.892 de 29/12/2008, CNPJ nº 10.673.078/0001-20, com sede na Rua Ceará, nº 972,
				Jardim Santa Fé, Campo Grande/MS, CEP 79.021-000, neste ato representado por sua Reitora,
				Profª. Drª. Elaine Borges Monteiro Cassiano, brasileira, casada, professora EBTT, CPF nº
				929.443.619-53, residente e domiciliada em Campo Grande, nomeada nos Termos do Decreto
				Presidencial publicado na Seção 2 do D.O.U de 26/11/2019.
			</p>

			<div th:each="programa: ${programas}">
				<p>
					<span id="paragrafo"></span>
					Pelo presente instrumento particular, nesta e na melhor forma de direito, o(s)
					CEDENTE(S) ou seus responsáveis legais, cedem ao CESSIONÁRIO, todos os direitos patrimoniais
					relativos <span th:text="${programa.tipoPrograma}"></span>,
					intitulada(o) <span th:text="${programa.nomePrograma}"></span>, na forma e para os fins
					do
					disposto na Lei nº 9.279/1996, Lei nº 9.610/1998 e Lei nº 13.123/2015, a título gratuito, sem
					qualquer restrição quanto à forma, tempo ou lugar, desde já, ficando autorizadas quaisquer
					atualizações que venham a ser consubstanciadas em futuras atualizações, modificações ou
					derivações tecnológicas. Os cedentes declaram estar cientes que, conforme a Política de
					Inovação do IFMS e o Contrato de Cotitularidade de Propriedade Intelectual entre o IFMS e
					<span th:text="${programa.empresaParceira[0].razaoSocial}"></span>, caberá:
				</p>

				<p id="paragrafo">
					• 50% da titularidade à/ao <span th:text="${programa.empresaParceira[0].razaoSocial}"></span>, e 
					<br>
					• 50%
					da titularidade ao IFMS, sendo este percentual subdividido em três partes de 1/3,
					conforme Art. 36 da Política de Inovação do IFMS, onde duas destas partes destinam-se ao
					IFMS e a outra parte cabe aos autores inventores, os quais realizarão a divisão na proporção de
					<span th:text="${programa.formatAutoresPorcentagem(programa)}"></span>.
				</p>
				<p id="paragrafo">Por ser a expressão da verdade, este documento é assinado, na presença de duas
					testemunhas, devidamente qualificadas, que também o assinam.
				</p>


				<div class="local">
					<span>____________________, <span th:text="${dataAtual}"></span>.</span>
					<br>
					<span id="aviso">Local</span>
				</div>
			</div>

			<table class="table3" th:each="programa : ${programas}">
				<tr>
					<td colspan="2">
						<span th:text="${programa.formatNomeAutor(programa.autores[0].nome)}"></span>: _______________
						<br>CPF ou RG: _______________
					</td>
				</tr>
				<tr>
					<td class="espacamento">
						<table>
							<tr th:each="autor, autorIndex : ${programa.autores}"
								th:if="${autorIndex.index >= 1 && autorIndex.index % 2 != 0}">
								<td>
									<span th:text="${programa.formatNomeAutor(autor.nome)}"></span>: _______________
									<br>CPF ou RG: _______________
									<p th:if="${autorIndex.index == 1}" id="danger" class="stage4-aviso">
										*Para estudantes menores de idade, o representante legal deverá assinar este
										documento
									</p>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<table>
							<tr th:each="autor, autorIndex : ${programa.autores}"
								th:if="${autorIndex.index >= 1 && autorIndex.index % 2 == 0}">
								<td>
									<span th:text="${programa.formatNomeAutor(autor.nome)}"></span>: _______________
									<br>CPF ou RG: _______________
									<p th:if="${autorIndex.index == 2}" id="danger" class="stage4-aviso">
										*Para estudantes menores de idade, o representante legal deverá assinar este
										documento
									</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

		</div>

		<p class="quebra-pagina"></p>

		<div class="stage5">
			<h3 id="title"> ANEXO V – TERMO DE CONFIDENCIALIDADE </h3>

			<p>
				Eu________________________________________________________________, CPF
				nº _________________________, RG nº _________________________, ocupante do cargo de
				__________________________________________________________, assumo o compromisso
				de manter sigilo e confidencialidade sobre todas as informações técnicas, científicas e outras
				relacionadas ao projeto __________________________________________________________
				___________________________________________________________________ a
				que tiver acesso durante todo o seu processo de elaboração, execução e proteção.
			</p>

			<ul class="lista-page">
				<li> Por este termo de confidencialidade e sigilo comprometo-me:</li>
				<li><b>a)</b> a manter sigilo, tanto escrito como verbal, ou por qualquer outra forma, de todos os
					dados, informações científicas e técnicas e, sobre todos os materiais obtidos com sua
					participação, podendo incluir, mas não se limitando a técnicas, desenhos, cópias,
					diagramas, fórmulas, modelos, amostras, fluxogramas, croquis, fotografias, plantas,
					programas de computador, discos, disquetes, processos, projetos, dentre outros;
				</li>

				<li><b>b)</b> a não revelar, reproduzir, utilizar ou dar conhecimento, em hipótese alguma, a terceiros,
					de dados, informações científicas ou materiais obtidos com sua participação, sem a
					prévia análise do Núcleo de Inovação Tecnológica (NIT) do Instituto Federal de
					Educação, Ciência e Tecnologia de Mato Grosso do Sul (IFMS) sobre a possibilidade de
					proteção, nos órgãos especializados, dos resultados ou tecnologia envolvendo aquela
					informação;
				</li>

				<li><b>c)</b> a não tomar, sem autorização do IFMS, qualquer medida com vistas a obter para si ou
					para terceiros, os direitos de propriedade intelectual relativos às informações sigilosas a
					que tenha acesso;
				</li>

				<li><b>d)</b> concordar que toda tecnologia e informações relativas ao produto em análise existentes
					até o presente momento são de propriedade do IFMS.
				</li>
			</ul>

			<p><span id="paragrafo"></span>O presente Termo de Sigilo e Confidencialidade tem natureza irrevogável e
				irretratável e
				sua validade estará vigente até que seja encerrado o processo de proteção intelectual e/ou
				publicação pelo(s) autor(es) e/ou IFMS. Pelo não cumprimento do presente Termo, fica o
				abaixo assinado ciente de que estará sujeito a todas as sanções administrativas, civis e judiciais
				cabíveis, conforme legislação vigente.
			</p>

			<div class="local">
				<span>____________________, <span th:text="${dataAtual}"></span>.</span>
				<br>
				<span id="aviso">Local</span>
			</div>

			<div class="assinatura">
				<span>__________________________________________</span>
				<br>
				<span id="aviso">Assinatura do solicitante e CPF</span>
			</div>

		</div>

		<p class="quebra-pagina"></p>

		<div class="stage6">
			<p id="paragrafo-apertado" th:each="programa: ${programas}" style="text-transform: uppercase;"> <b> CONTRATO
					DE COTITULARIDADE DE PROPRIEDADE
					INTELECTUAL DO <span th:text="${programa.tipoPrograma}"></span>
					INTITULADO "<span th:text="${programa.nomePrograma}"></span>" QUE ENTRE SI
					CELEBRAM O
					INSTITUTO FEDERAL DE EDUCAÇÃO, CIÊNCIA,
					TECNOLOGIA DE MATO GROSSO DO SUL – IFMS E
					<span th:text="${programa.empresaParceira[0].razaoSocial}"></span>. </b>
			</p>

			<p> O <b>INSTITUTO FEDERAL DE EDUCAÇÃO, CIÊNCIA E TECNOLOGIA DE MATO GROSSO DO SUL –
					IFMS</b>, organizado sob a forma de autarquia federal vinculada à Secretaria de Educação
				Profissional e Tecnológica do Ministério da Educação, criado pela nº Lei 11.892 de 29/12/2008,
				com sede na Rua Ceará, nº 972, Jardim Santa Fé, na cidade de Campo Grande, Estado do Mato
				Grosso do Sul, inscrito no CNPJ sob o nº 10.673.078/0001-20, neste ato representado por sua
				Reitora,<b> Profª. Drª. Elaine Borges Monteiro Cassiano</b>, brasileira, casada, professora EBTT, CPF
				nº 929.443.619-53, residente e domiciliada em Campo Grande, nomeada nos Termos do
				Decreto Presidencial publicado na Seção 2 do D.O.U de 26/11/2019;
			</p>

			<p>
				e, de outro lado,
			</p>


			<p th:each="programa: ${programas}">
				A empresa <b><span th:text="${programa.empresaParceira[0].razaoSocial}"></span></b>, pessoa
				jurídica de direito privado, com
				sede na Rua
				<span th:text="${programa.empresaParceira[0].ruaParceira}"></span>, nº <span
					th:text="${programa.empresaParceira[0].numeroParceira}"></span>,
				<span th:text="${programa.empresaParceira[0].bairroParceira}"></span>, na cidade de <span
					th:text="${programa.empresaParceira[0].cidadeParceira}"></span>,
				Estado <span th:text="${programa.empresaParceira[0].estadoParceira}"></span>, inscrita no
				CNPJ sob o nº <span th:text="${programa.empresaParceira[0].cnpjParceira}"></span>, neste ato
				representada pelo seu Sócio Administrador,
				<span th:text="${programa.empresaParceira[0].nomeSocio}"></span>, <span
					th:text="${programa.empresaParceira[0].nacionalidadeSocio}"></span>, <span
					th:text="${programa.empresaParceira[0].estadoCivilSocio}"></span>,
				portador do RG nº <span th:text="${programa.empresaParceira[0].rgSocio}"></span> <span
					th:text="${programa.empresaParceira[0].orgaoExpedidorSocio}"></span> e CPF nº <span
					th:text="${programa.empresaParceira[0].cpfSocio}"></span>,
				residente e domiciliado em <span th:text="${programa.empresaParceira[0].residAtualSocio}"></span>;
			</p>

			<p th:each="programa: ${programas}">
				Doravante denominados isoladamente <b>IFMS</b> e <b><span
						th:text="${programa.empresaParceira[0].razaoSocial}"></span></b>, e
				conjuntamente
				<b>PARTES</b>.
			</p>

			<p th:each="programa: ${programas}">
				Considerando que o Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso do Sul –
				<b>IFMS</b> e
				a empresa
				<b><span th:text="${programa.empresaParceira[0].razaoSocial}"></span></b> desenvolveram em
				conjunto o
				protótipo intitulado
				“<b><span th:text="${programa.nomePrograma}"></span></b>”, a partir do Acordo de Cooperação
				Técnica nº <span th:text="${programa.cooperacao}"></span> e seu respectivo Plano de
				Trabalho 01, vinculados ao Edital <span th:text="${programa.edital}"></span> –
				IFMS – PROPI/PROEX
				Pesquisa Aplicada/Extensão Tecnológica (PAET) por meio da execução do projeto intitulado
				“<b><span th:text="${programa.nomePrograma}"></span></b>”, ID <span
					th:text="${programa.idPrograma}"></span>, Campus
				<span th:text="${programa.campus}"></span>.
			</p>

			<p>
				Considerando que a propriedade intelectual deve ser dividida entre as <b>PARTES</b>, na proporção
				do conhecimento pré-existente agregado e dos recursos humanos, financeiros e materiais
				alocados pelas <b>PARTES</b>.
			</p>

			<p th:each="programa: ${programas}">
				Considerando que o <b>Prof. <span th:text="${programa.getFirstServidor()}">XXXXXXXX</span></b> e os(a)
				estudantes
				<b><span th:text="${programa.getNomeAutoresNaoServidor()}">XXXXXXX</span></b> são
				inventores por
				parte do IFMS e que o <b><span th:text="${programa.empresaParceira[0].nomeSocio}">XXXXX</span></b> é
				inventor
				por parte da <span th:text="${programa.empresaParceira[0].razaoSocial}">RAZÃO SOCIAL</span>.
			</p>

			<p>
				Têm entre si justo e acertado o presente contrato que será regido pelas cláusulas e condições
				adiante ajustadas entre as <b>PARTES</b> e pelas seguintes normas e leis:
			</p>

			<p>
				<b>Constituição da República Federativa do Brasil de 1988;</b>
			</p>

			<p>
				<b>Lei 8.666/93</b>, que institui normas para licitações e contratos da Administração Pública e dá
				outras providências;
				<br>
				<b>Lei 9.279/96</b>, que regula os direitos e obrigações relativas à propriedade industrial;
				<br>
				<b>Lei 10.973/04</b>, que dispõe sobre os incentivos à inovação e à pesquisa científica e tecnológica
				no ambiente produtivo e dá outras providências.
				<br>
				<b>Lei 13.243/16</b>, que dispõe sobre estímulos ao desenvolvimento científico, à pesquisa, à
				capacitação científica e tecnológica e à inovação;
				<br>
				<b>Resolução COSUP 054/17</b>, que institui a Política de Inovação do IFMS;
				<br>
				<b>Decreto 9.283/18</b>, que estabelece medidas de incentivo à inovação e à pesquisa científica e
				tecnológica no ambiente produtivo.
			</p>

			<p id="titulo-clausula"> <b>CLÁUSULA PRIMEIRA – DO OBJETO</b></p>

			<p th:each="programa: ${programas}">
				<b>1.1.</b> <span id="paragrafo"></span> O presente contrato tem por objeto o
				reconhecimento mútuo dos direitos e obrigações
				sobre a propriedade intelectual, no Brasil e Exterior, do(a) <span
					th:text="${programa.tipoPrograma}"></span> a ser
				depositada sob a denominação de “<span th:text="${programa.nomePrograma}"></span>”,
				desenvolvida em conjunto pelo <b>IFMS</b> e pela
				empresa <span th:text="${programa.empresaParceira[0].razaoSocial}"></span>.
				<br>
				<b>1.2.</b> <span id="paragrafo"></span> O presente contrato não tem por objeto o reconhecimento de
				acordos pretéritos sem a
				devida formalização de cooperação para pesquisa ou legitimar parcerias informais para
				pesquisa e desenvolvimento, no Brasil e no Exterior, tampouco abonar responsabilidades
				administrativas e legais dos mesmos.
			</p>

			<p id="titulo-clausula"> <b>CLÁUSULA SEGUNDA – DA RESPONSABILIDADE, DIREITOS E OBRIGAÇÕES</b></p>
			<p th:each="programa: ${programas}">
				<b>2.1.</b> <span id="paragrafo"></span> A proteção legal será requerida em regime de cotitularidade
				entre o <b>IFMS</b> e a empresa
				<span>RAZÃO SOCIAL</span>, ficando desde já acordado que caberá
				<span>50%</span> da titularidade para o <b>IFMS</b> e
				<span>50%</span>
				da titularidade para a empresa <span th:text="${programa.empresaParceira[0].razaoSocial}"></span>.
				<br>
				<b>2.2.</b> <span id="paragrafo"></span> O <b>IFMS</b> requererá perante o Instituto Nacional de
				Propriedade Industrial – INPI o
				registro do <span th:text="${programa.tipoPrograma}"></span>, em nome das
				<b>PARTES</b>, e realizará o
				acompanhamento até o encerramento do processo de registro.
				<br>
				<b>2.2.1.</b> <span id="paragrafo"></span> O <b>IFMS</b> ficará obrigado a fornecer à empresa <span
					th:text="${programa.empresaParceira[0].razaoSocial}"></span> cópia de todos os
				documentos que envolvam o registro do <span th:text="${programa.tipoPrograma}"></span>.
				<br>
				<span><b>2.2.2.</b> <span id="paragrafo"></span> Os custos de depósito e
					manutenção do registro da patente no Brasil e/ou no exterior
					ficarão sob a responsabilidade da <span
						th:text="${programa.empresaParceira[0].razaoSocial}"></span>.
				</span>
				<br>
				<span><b>2.2.3.</b> <span id="paragrafo"></span> Caso a empresa <span
						th:text="${programa.empresaParceira[0].razaoSocial}"></span> deixe de pagar os
					custos previstos no item 2.2.2, bem
					como os custos eventualmente oriundos da proteção internacional, conforme acordado pelas
					<b>PARTES</b>, o <b>IFMS</b> notificará a outra Parte para que esta regularize a situação em um
					prazo não
					superior a 60 (sessenta) dias e, caso persista o inadimplemento da obrigação após este período,
					a empresa <span th:text="${programa.empresaParceira[0].razaoSocial}"></span> perderá o
					direito à cotitularidade do
					<span th:text="${programa.tipoPrograma}"></span>.
					<br>
				</span>
				<b>2.2.4.</b> <span id="paragrafo"></span> A Parte inadimplente perderá também o direito de participação
				econômica nos
				resultados financeiros provenientes de royalties.
				<br>
				<b>2.2.5.</b> <span id="paragrafo"></span> As <b>PARTES</b> são igualmente responsáveis pelo
				acompanhamento dos prazos estipulados
				pelo INPI para o pagamento dos custos de depósito e manutenção do registro da patente,
				devendo os pagamentos serem realizados, preferencialmente, dentro do prazo ordinário.
				<br>
				<b>2.3.</b> <span id="paragrafo"></span> As <b>PARTES</b> poderão ceder, total ou parcialmente, os
				direitos que lhe couberem sobre a
				patente, em especial aqueles relativos à sua exploração e obtenção dos resultados financeiros
				decorrentes, desde que respeitadas às disposições da Lei nº 8.666/93 e da Lei 10.973/04.
				<br>
				<b>2.4.</b> <span id="paragrafo"></span> Quando da cessão de direitos a terceiros, as <b>PARTES</b>
				acordam desde já sobre a
				necessidade de celebrar termo aditivo ao presente contrato como condicionante à validade e
				eficiência da cessão de direitos do <span th:text="${programa.tipoPrograma}"></span>.
				<br>
				<b>2.4.1.</b> <span id="paragrafo"></span> A Parte cedente deve comunicar a outra, no prazo
				de 60 (sessenta) dias, sobre sua
				intenção de cessão de direitos a terceiros, ficando a cessionária obrigada a concordar com
				todos os termos e condições ora ajustados entre as <b>PARTES</b>, sob pena de ineficácia e nulidade
				da cessão de direitos relativos ao <span th:text="${programa.tipoPrograma}"></span>.
				<br>
				<b>2.4.2.</b> <span id="paragrafo"></span> Todas e quaisquer despesas referentes ao
				depósito e manutenção de pedido de
				proteção, em razão da cessão de direitos de que trata os itens 2.3 e 2.4 acima, serão de
				responsabilidade da Parte cedente.
				<br>
				<b>2.5.</b> <span id="paragrafo"></span> Caberá a cada uma das <b>PARTES</b> tomar as
				providências legais e judiciais no sentido de
				resguardar a propriedade, apropriação e o uso indevido por terceiros da patente.
				<br>
				<b>2.6.</b> <span id="paragrafo"></span> As <b>PARTES</b> declaram e garantem que, em todas
				as suas respectivas atividades
				relacionadas a este contrato, não tomaram e nem tomarão qualquer medida que viole as leis
				antissuborno, leis anticorrupção, leis sobre conflitos de interesses, ou outras leis, normas ou
				regulamentos com finalidade e efeitos semelhantes, aplicáveis a qualquer das <b>PARTES</b>,
				especialmente a Lei nº 12.846/13.
			</p>

			<p id="titulo-clausula"><b>CLÁUSULA TERCEIRA – DA EXPLORAÇÃO</b></p>
			<p>
				<b>3.1.</b> <span id="paragrafo"></span> Qualquer uma das <b>PARTES</b> poderá negociar e
				firmar contratos de licenciamento, desde
				que autorizadas formalmente pela outra Parte.
				<br>
				<b>3.2.</b> <span id="paragrafo"></span> Os benefícios decorrentes da exploração serão
				divididos de acordo com o percentual de
				participação na titularidade.
				<br>
				<b>3.3.</b> <span id="paragrafo"></span> A recusa injustificada, por qualquer um dos
				titulares em licenciar a patente, autoriza o
				outro titular a proceder o licenciamento individualmente, sem prejuízo do rateio dos resultados
				financeiros, conforme percentual de titularidade indicado no item 2.1 acima.
				<br>
				<span>
					<b>3.4.</b> <span id="paragrafo"></span> No caso de licenciamento da patente, deverá
					obrigatoriamente ser firmado contrato de
					licenciamento para exploração, contendo as cláusulas: Do objeto, Das condições gerais da
					licença, Da manutenção dos diretos de patente e averbamentos, Da exclusividade e
					melhoramentos efetuados pela empresa licenciada, Da Duração, Da compensação financeira,
					Das informações periódicas e direito de autoria, Da cessão da posição contratual, Das
					vicissitudes contratuais, Da obrigatoriedade de exploração, Da responsabilidade das partes, Da
					confidencialidade, Da lei e resolução de litígios entre outras.
					<br>
					<b>3.5.</b> <span id="paragrafo"></span> As <b>PARTES</b> têm prioridade na produção e
					exploração comercial direta da patente objeto
					do presente contrato.
					<br>
					<b>3.5.1.</b> <span id="paragrafo"></span> A exploração comercial direta da patente
					pelas <b>PARTES</b> será precedida de contrato para
					concessão de licença de uso e exploração a ser firmado entre as <b>PARTES</b>, conforme legislação
					vigente.
				</span>
			</p>

			<p id="titulo-clausula"> <b>CLAÚSULA QUARTA – DA PROMOÇÃO OU DIVULGAÇÃO E A PROPRIEDADE INTELECTUAL</b></p>
			<p>
				<b>4.1.</b> <span id="paragrafo"></span> As <b>PARTES</b> serão responsáveis pela promoção e divulgação
				da patente, desde que todas
				sejam citadas.
				<br>
				<b>4.2.</b> <span id="paragrafo"></span> As <b>PARTES</b> comunicarão uma à outra sobre eventuais
				aperfeiçoamentos e/ou pesquisas
				realizadas envolvendo o objeto deste contrato, mantendo-se o sigilo necessário para a
				proteção de tal resultado.
				<br>
				<b>4.2.1.</b> <span id="paragrafo"></span> Caso resultem dos aperfeiçoamentos passíveis de proteção, nos
				termos da legislação
				brasileira, das convenções internacionais de que o Brasil é signatário ou ainda da legislação
				nacional dos países onde haja interesse de proteção, a participação de cada Parte será regulada
				em termo próprio.
			</p>

			<p id="titulo-clausula"> <b>CLÁUSULA QUINTA – DA RESPONSABILIDADE</b></p>

			<p>
				<b>5.1.</b> <span id="paragrafo"></span> As <b>PARTES</b> ficam igualmente responsáveis pelo atendimento
				à legislação vigente, bem
				como pela observação e atendimento dos prazos estabelecidos no presente Instrumento, INPI e
				demais órgãos oficiais relacionados à proteção da patente, sobre os quais não poderão alegar
				desconhecimento.
				<br>
				<b>5.2.</b> <span id="paragrafo"></span> Caberá às <b>PARTES</b> ainda a responsabilidade de
				supervisionar, gerenciar e solucionar
				questões técnicas, administrativas e financeiras que, eventualmente, surgirem durante a
				vigência do presente Instrumento.
			</p>

			<p id="titulo-clausula"> <b>CLÁUSULA SEXTA – DA VIGÊNCIA</b></p>

			<p th:each="programa: ${programas}">
				<b>6.1.</b> <span id="paragrafo"></span> O presente contrato terá efeitos a partir de sua assinatura
				pelas <b>PARTES</b> e o seu período
				de vigência coincidirá com a vigência do(a) <span th:text="${programa.tipoPrograma}"></span>, ou seja,
				20 anos
				contados da data de depósito do pedido, conforme Lei 9.279/96.
				<br>
				<b>6.2.</b> <span id="paragrafo"></span> No caso de indeferimento ou nulidade do pedido de patente, o
				presente instrumento
				terá validade de 10 (dez) anos, a contar da data de sua assinatura, podendo as <b>PARTES</b>
				definirem em instrumento específico as condições relativas ao <i>know-how</i>.
			</p>

			<p id="titulo-clausula"> <b>CLÁUSULA SÉTIMA – CONDIÇÕES GERAIS</b></p>
			<p>
				<b>7.1.</b> <span id="paragrafo"></span> Alterações neste contrato acordadas entre as
				<b>PARTES</b> deverão ser obrigatoriamente
				descritas em termo aditivo.
				<br>
				<b>7.2.</b> <span id="paragrafo"></span> Este contrato vinculará os eventuais sucessores e cessionários
				das <b>PARTES</b>, os quais
				se
				obrigam às mesmas responsabilidades e direitos as quais estavam submetidas as <b>PARTES</b> no
				âmbito do presente contrato.
				<br>
				<b>7.2.1.</b> <span id="paragrafo"></span> Os eventuais sucessores e cessionários das
				<b>PARTES</b> somente poderão alterar ou
				transferir as responsabilidades e direitos a que estão submetidos desde que haja
				consentimento prévio, por escrito, das <b>PARTES</b> originais.
				<br>
				<b>7.3.</b> <span id="paragrafo"></span> A tolerância de qualquer das <b>PARTES</b> na
				exigência do cumprimento das obrigações
				previstas neste contrato não exime a outra de responsabilidade, podendo ser exigido, a
				qualquer tempo, o adimplemento da obrigação.
				<br>
				<b>7.4.</b> <span id="paragrafo"></span> Fica claro e expressamente convencionado que o não
				exercício por qualquer das
				PARTES de direito a ela conferido pelo presente contrato ou tolerância em impor estritamente
				seus direitos, incluída a eventual aceitação de uma das <b>PARTES</b>, do atraso ou não cumprimento
				de quaisquer das obrigações da outra Parte, serão considerados como mera liberalidade não
				implicando em novação, renúncia ou perda dos direitos oriundos desse inadimplemento.
				<br>
				<b>7.5.</b> <span id="paragrafo"></span> O presente Instrumento não gera qualquer vínculo
				trabalhista entre os servidores e/ou
				funcionários das <b>PARTES</b>.
				<br>
				<b>7.6.</b> <span id="paragrafo"></span> Quaisquer comunicações ou solicitações previstas
				neste contrato serão efetuadas por
				escrito, via carta, e serão enviadas entre as <b>PARTES</b> nos seguintes endereços:
			</p>

			<p style="font-size: 13px;">
				<b>INST. FEDERAL DE EDUCAÇÃO, CIÊNCIA, TECNOLOGIA DE MATO GROSSO DO SUL – IFMS</b>
				<br>
				<u>NÚCLEO DE INOVAÇÃO TECNOLÓGICA DO IFMS</u>
				<br>
				Rua Ceará, nº 972, Jardim Santa Fé – Campo Grande, MS – CEP 79.021-000
			</p>

			<br>
			<p th:each="programa: ${programas}" style="font-size: 13px;">
				<span>
					<span th:text="${programa.empresaParceira[0].razaoSocial}"></span>
					<br>
					<u th:text="${programa.empresaParceira[0].nomeSocio}">SÓCIO</u>
					<br>
					<span>Endereço:
						(<span th:text="${programa.empresaParceira[0].ruaParceira}"></span>, Nº: <span
							th:text="${programa.empresaParceira[0].numeroParceira}"></span>, <span
							th:text="${programa.empresaParceira[0].bairroParceira}"></span>, <span
							th:text="${programa.empresaParceira[0].cidadeParceira}"></span>, <span
							th:text="${programa.empresaParceira[0].estadoParceira}"></span>, <span
							th:text="${programa.empresaParceira[0].cepParceira}"></span>)
					</span>
			</p>

			<p>

				<b>7.7.</b> <span id="paragrafo"></span> Qualquer comunicação ou solicitação prevista neste
				contrato será considerada como
				tendo sido legalmente entregue e eficaz:
				<br>
				<span id="paragrafo">(a) Quando entregue em mãos a algum diretor ou funcionário responsável
					da Parte a quem
					foi dirigida;
				</span>
				<br>
				<span id="paragrafo">(b) Se enviada por correio e devidamente endereçada, quando recebida
					comprovadamente
					pelo destinatário através de Aviso de Recebimento (AR).
				</span>
				<br>
				<span id="paragrafo">(c) Se enviada por fax, quando recebida pelo destinatário.</span>
				<br>
				<span id="paragrafo">(d) Se enviada por correio eletrônico, desde que confirmado o
					recebimento pelo
					destinatário.
				</span>

				<br>
				<br>

				<b>7.8.</b> <span id="paragrafo"></span> Qualquer uma das <b>PARTES</b> poderá, mediante
				comunicação por escrito à outra Parte,
				alterar o endereço para o qual as comunicações ou solicitações devem ser enviadas.
				<br>
				<b>7.9.</b> <span id="paragrafo"></span> Se, durante a vigência deste contrato, qualquer
				disposição nele contida vier a ser
				declarada ilegal e/ou inexequível, tal declaração não afetará a validade e/ou exequibilidade do
				texto remanescente, que permanecerá em pleno vigor e efeito.
				<br>
				<b>7.10.</b> <span id="paragrafo"></span> Os casos omissos relativos a este contrato serão
				resolvidos pelas <b>PARTES</b> que se
				comunicarão para definir as providências a serem tomadas.
			</p>

			<p id="titulo-clausula"> <b>CLÁUSULA OITAVA – DA CONFIDENCIALIDADE</b> </p>

			<p>
				<b>8.1.</b> <span span id="paragrafo"></span> As <b>PARTES</b> reconhecem que todas as
				informações relacionadas à patente têm caráter
				confidencial.
				<br>
				<b>8.2.</b> <span span id="paragrafo"></span> A confidencialidade das informações vigorará
				enquanto for possível a proteção dos
				direitos relativos à patente.
				<br>
				<b>8.3.</b> <span span id="paragrafo"></span> As <b>PARTES</b> cuidarão para que as informações
				confidenciais tenham sua divulgação
				restrita àquelas pessoas estritamente necessárias ao desenvolvimento do presente contrato e
				que estejam sob a obrigação jurídica de manterem a confidencialidade.
				<br>
				<b>8.3.1.</b> <span span id="paragrafo"></span> Cada uma das <b>PARTES</b> se compromete por si,
				seus empregados diretos e indiretos,
				colaboradores, prestadores de serviços, sócios, diretores e representantes, a manter e fazer
				manter absoluto sigilo, em qualquer circunstância, com relação às informações confidenciais
				que tenham acesso, incluindo, mas não se limitando aos documentos relativos a este contrato
				e/ou pesquisas e/ou negócios conduzidos por cada uma das <b>PARTES</b>.
				<br>
				<b>8.4.</b> <span span id="paragrafo"></span> Não será considerada informação confidencial
				aquela:
				<br>
				<span span id="paragrafo">(a) Disponível ao público sem a participação das <b>PARTES</b>
					envolvidas neste contrato, seja na
					facilitação ou fornecimento do acesso às informações;
				</span>
				<br>
				<span span id="paragrafo">(b) Recebida por uma Parte através de um terceiro que não possua
					nenhuma obrigação de
					confidencialidade perante a outra Parte;
				</span>
				<br>
				<span span id="paragrafo">(c) Desenvolvida de forma independente sem qualquer referência ou
					utilização das
					informações confidenciais transmitidas no âmbito deste contrato;
				</span>
				<br>
				<span span id="paragrafo">(d) For expressamente liberada para divulgação.</span>
			</p>

			<p id="titulo-clausula"> <b>CLÁUSULA NONA – DO FORO</b></p>

			<p>
				<b>9.1.</b> <span id="paragrafo"></span>Para dirimir eventuais conflitos de interesses que possam ser
				suscitados na execução e
				interpretação do presente contrato fica eleito o <b>Foro da Justiça Federal, da 1ª Subseção
					Judiciária de Campo Grande – MS,</b> com renúncia expressa de qualquer outro, por mais
				privilegiado que seja.
			</p>

			<p th:each="programa: ${programas}">
				E por estarem assim justas e acordadas, as <b>PARTES</b> firmam o presente <b>CONTRATO DE
					COTITULARIDADE DE PROPRIEDADE INTELECTUAL DO <span id="upper"
						th:text="${programa.tipoPrograma}"></span>
					INTITULADO “<span id="upper" th:text="${programa.nomePrograma}"></span>”</b> em <b>02
					(duas)</b> vias de igual teor, forma e para um só efeito.
			</p>

			<div class="local">
				<span>____________________, <span th:text="${dataAtual}"></span>.</span>
				<br>
				<span id="aviso">Local</span>
			</div>

			<div class="assinatura">
				<span>__________________________________________</span>
				<br>
				<span id="aviso">Assinatura do solicitante e CPF</span>
			</div>

			<table id="table2-1" style="border: 0; width: 100%; position: relative; bottom: -17rem;">
				<tr class="row2" style="text-align: center;">
					<td class="cell" style="padding: 10px;">
						<span>ELAINE BORGES MONTEIRO CASSIANO</span>
						<br>
						<span>Reitora do IFMS</span>
					</td>
					<td class="cell" style="padding: 10px;" th:each="programa: ${programas}">
						<b><span id="upper" th:text="${programa.empresaParceira[0].nomeSocio}"></span></b>
						<br>
						Sócio Administrador da <b><span id="upper"
								th:text="${programa.empresaParceira[0].razaoSocial}"></span></b>
					</td>
				</tr>
			</table>


		</div>

		<p class="quebra-pagina"></p>

		<div class="stage7">
			<p>Anuência dos autores: </p>
			<table class="table3" style="margin-top: -10px;" th:each="programa : ${programas}">
				<tr>
					<td colspan="2">
						<span th:text="${programa.formatNomeAutor(programa.autores[0].nome)}"></span>:
						__________________
						<br>CPF ou RG: _______________
					</td>
				</tr>
				<tr>
					<td class="espacamento">
						<table>
							<tr th:each="autor, autorIndex : ${programa.autores}"
								th:if="${autorIndex.index >= 1 && autorIndex.index % 2 != 0}">
								<td>
									<span th:text="${programa.formatNomeAutor(autor.nome)}"></span>: __________________
									<br>CPF ou RG: _______________
									<p th:if="${autorIndex.index == 1}" id="danger" class="stage4-aviso">
										*Para estudantes menores de idade, o representante legal deverá assinar este
										documento
									</p>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<table>
							<tr th:each="autor, autorIndex : ${programa.autores}"
								th:if="${autorIndex.index >= 1 && autorIndex.index % 2 == 0}">
								<td>
									<span th:text="${programa.formatNomeAutor(autor.nome)}"></span>: __________________
									<br>CPF ou RG: _______________
									<p th:if="${autorIndex.index == 2}" id="danger" class="stage4-aviso">
										*Para estudantes menores de idade, o representante legal deverá assinar este
										documento
									</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

			<p>Testemunhas:</p>

			<table class="table3" style="margin-top: -10px;">
				<tr>
					<td class="espacamento">
						Nome: __________________
						<br>CPF ou RG: _______________
					</td>
					<td>
						Nome: __________________
						<br>CPF ou RG: _______________
					</td>
				</tr>
			</table>
		</div>
	</div>

</body>

</html>